@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    border: 1px solid black;
    background: linear-gradient(to top, #7A1CAC, #EBD3F8);
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 540px;
    min-height: 350px;
    border: 1px solid #000;
    background: linear-gradient(to top, #EBD3F8, #d3b1e6);
    margin: 100px auto;
    border-radius: 10px;
}
.todo-app h2{
    text-align: center;
    margin: 15px;
    padding-top: 15px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button {
    border: none;
    outline: none;
    padding: 16px 40px;
    background: linear-gradient(to top, #1e1eea, #fff);
    border-radius: 40px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
ul {
    min-height: 300px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/circle.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked {
    text-decoration: line-through;
    color: #ef1d1d;
}
ul li.checked::before{
    background-image: url(./images/checkmark.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover {
    background-color: #555;
    color:#fff;
    border-radius: 50%;
}
.filterBtn {
    display: flex;
    justify-content: space-evenly;
    
}
.btn {
    min-width: 90px;
    padding: 10px;
    background: #5ac05a;
    font-weight: normal;
    font-size: 18px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.all {
    background: #000;
    color: #fff;
}
.unfinished {
    background-color: #ef1d1d;
    color: #fff;
}

@media only screen and (max-width: 375px){
    .todo-app {
        width: 90%;
        margin: 10px auto;
    }
    .todo-app h2{
        text-align: center;
        margin: 10px;
        padding-top: 10px;
    }
    .row {
        width: 60%;
    }
    .filterBtn {
        display: flex;
        flex-direction: column; 
    }
    input {
        flex-grow: 0;
    }
    .btn {
        width: 50px;
        padding: 8px;
        font-size: 12px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .addBtn {
        padding: 10px;
        background: linear-gradient(to top, #1e1eea, #fff);
        border-radius: 40px;
        color: #000;
        font-size: 12px;
    }
}
